<!DOCTYPE html> 
<html lang="en">

<head> 
    <meta charset="UTF-8">
    <title>Brian's Price Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>  

<body class="bg-light">

<div class="container mt-5">

    <h1 class="text-center mb-5">
        Brian's Price Tracker
    </h1> 
    
    <div class="row">

        {% for book in books %}

        <div class="col-md-4 mb-4">

            <div class="card shadow">

                <div class= "card-body">

                    <h5 class="card-title">
                    {{ book.title}}
                </h5>

                <p class="card-text">
                    <strong>Price:</strong>
                    {{ book.price }}
                </p>

                <p class="text-muted">
                    scraped on: {{ book.date_scraped}}
                </p>

                </div>

            </div>
           
        </div>

        {% endfor %}

    </div>

</div>

</body>

</html>
    